extends ../layouts/default

block content
    .mdl-grid.demo-content
        .mdl-cell.mdl-grid.mdl-cell--12-col
            .demo-card-wide.mdl-card.mdl-shadow--2dp.mdl-cell--6-col-desktop.mdl-cell--12-col-tablet.mdl-cell--12-col-phone
                .mdl-card__title
                    h2.mdl-card__title-text Modifier Niveau
                .mdl-card__supporting-text
                    form(method='post')
                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell--12-col
                            input#sample3.mdl-textfield__input(type='text',name='name',value=level.name)
                            label.mdl-textfield__label(for='sample3') Veuillez saisir le nom du niveau
                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell--12-col
                            textarea#description.mdl-textfield__input(type='text', rows='3', name='description')
                               |#{level.description}
                            label.mdl-textfield__label(for='description') Description du niveau
                        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell--12-col
                            textarea#commentaire.mdl-textfield__input(type='text', rows='3', name='commentaireBot')
                                |#{level.commentaireBot}
                            label.mdl-textfield__label(for='commentaire') Commentaire du robot
                        button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(type='submit')
                            | Modifier

