.container-fluid.container-fixed-lg.footer
    .copyright.sm-text-center
        p.small.no-margin.pull-left.sm-pull-reset
            span.hint-text Copyright © 2016
            span.font-montserrat Inpulsion Web Agency
            | .
            span.hint-text All rights reserved.
            span.sm-block
                a.m-l-10.m-r-10(href='#') Terms of use
                a.m-l-10(href='#') Privacy Policy
        p.small.no-margin.pull-right.sm-pull-reset
            a(href='#') Hand-crafted
            span.hint-text  ®
        .clearfix
