header.mdl-layout__header.mdl-layout__header--scroll.mdl-color--primary
    .mdl-layout--large-screen-only.mdl-layout__header-row
    .mdl-layout--large-screen-only.mdl-layout__header-row(style='text-align:center')
      h3 Coach succès assuré
    .mdl-layout--large-screen-only.mdl-layout__header-row
    .mdl-layout__tab-bar.mdl-js-ripple-effect.mdl-color--primary-dark
      a.mdl-layout__tab.is-active(href='#overview') Accueil
      button#add.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored.mdl-shadow--4dp.mdl-color--accent
        i.material-icons(role='presentation') add
        span.visuallyhidden Add
