extends ../layouts/default.jade

block content
    .mdl-grid.demo-content
        .mdl-cell.mdl-cell--12-col.mdl-grid
            a.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(href='/addmatiere')
                | Ajouter une matière
            table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp.mdl-cell--12-col-desktop.mdl-cell--12-col-tablet.mdl-cell--12-col-phone
                thead
                    tr
                        th.mdl-data-table__cell--non-numeric Libellé
                        th Niveau
                        th Description
                        th Commentaire Bot
                        th
                tbody
                    each matiere in allMatiere
                        tr
                            td.mdl-data-table__cell--non-numeric= matiere.name
                            td= matiere.classroom_id.name
                            td= matiere.description
                            td= matiere.commentaireBot
                            td
                                a.mdl-chip(href='/matiere/'+matiere._id style='margin-right:10px')
                                    span.mdl-chip__text Modifier
                                a.mdl-chip.deletematiere(href='#' data-id=''+matiere._id)
                                    span.mdl-chip__text Supprimer



