extends ../layouts/default.jade

block content
    ins#show_ads_inp_OAcgtszL
    script.
        (function (e, c) {
            var d = document, t = 'script', o = d.createElement(t), s = d.getElementById(e);
            o.src = 'http://inpulsclic.com/assets/global/js/addeleiver/tracking/adsinpulsclic.js';
            o.async = true;
            if (c) {
                o.addEventListener('load', function (e) {
                    c(null, e);
                }, false);
            }
            s.parentNode.insertBefore(o, s);
        })('show_ads_inp_OAcgtszL', function () {
            inpads.iads('OAcgtszL', 'ic-c-3g43JJfHKL', 300, 250, 'show_ads_inp_OAcgtszL')
        })


