extends ../layouts/default.jade

block content
  #overview.mdl-layout__tab-panel.is-active
    section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp(style='margin-bottom: 40px')
      header.section__play-btn.mdl-cell.mdl-cell--3-col-desktop.mdl-cell--2-col-tablet.mdl-cell--4-col-phone.mdl-color--teal-100.mdl-color-text--white
        i.material-icons play_circle_filled
      .mdl-card.mdl-cell.mdl-cell--9-col-desktop.mdl-cell--6-col-tablet.mdl-cell--4-col-phone
        .mdl-card__supporting-text
          h4 Qui suis-je ?
          |     Je suis ton nouveau coach scolaire décidé à te conduire vers la reussite ! es-tu prêt ?
        .mdl-card__actions
          .fb-send-to-messenger(messenger_app_id='1659149371065388', page_id='1756419867960210', data-ref='PASS_THROUGH_PARAM', color='blue', size='xlarge')
          .fb-messengermessageus(messenger_app_id='1659149371065388', page_id='1756419867960210', color='blue', size='xlarge')
